<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Marketing prediction using Random Forest</title>
</head>
<body bgcolor="#7fffd4">
<h2 align="center">Give below values for predictions</h2>
<form method="post" action="/getdata/">
    <table align="center">
        <tr>
            <td>Enter age</td>
            <td><input type="text" name="age"/></td>
        </tr>
        <tr>
            <td>Enter job</td>
            <td><input type="text" name="job"/></td>
        </tr>
        <tr>
            <td>Enter education</td>
            <td><input type="text" name="education"/></td>
        </tr>
        <tr>
            <td>Enter balance</td>
            <td><input type="text" name="balance"/></td>
        </tr>
        <tr>
            <td>Enter loan</td>
            <td><input type="text" name="loan"/></td>
        </tr>
        <tr>
            <td>Enter day</td>
            <td><input type="text" name="day"/></td>
        </tr>
        <tr>
            <td>Enter month</td>
            <td><input type="text" name="month"/></td>
        </tr>
        <tr>
            <td>Enter duration</td>
            <td><input type="text" name="duration"/></td>
        </tr>
        <tr>
            <td>Enter campaign</td>
            <td><input type="text" name="campaign"/></td>
        </tr>
        <tr>
            <td>Enter pdays</td>
            <td><input type="text" name="pdays"/></td>
        </tr>
        <tr>
            <td>Enter previous</td>
            <td><input type="text" name="previous"/></td>
        </tr>
        <tr>
            <td>Enter poutcome</td>
            <td><input type="text" name="poutcome"</td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>